
@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <title>Mul</title>
</head>
<body>
    <div>
        <span class="badge">
            @if (ViewBag.First == null)
            {
                @:null
            }
            else
            {
                @ViewBag.First
            }
        </span> *
        <span class="badge">
            @if (ViewBag.Second == null)
            {
                @:null
            }
            else
            {
                @ViewBag.Second
            }
        </span> =
        <span class="badge">
            @if (ViewBag.Result == null)
            {
                @:null
            }
            else
            {
                @ViewBag.Result
            }
        </span>
    </div>
</body>
</html>
